<div>
    <a class="social-link" target="_blank" href="https://github.com/mihaicostin"><i class="fa fa-2x fa-github"></i></a>
    <a class="social-link" target="_blank" href="http://stackoverflow.com/users/3336936/mihaic"><i class="fa fa-2x fa-stack-overflow"></i></a>
    <a class="social-link" target="_blank" href="https://twitter.com/mihaicostin"><i class="fa fa-2x fa-twitter"></i></a>
    <a class="social-link" target="_blank" href="https://ro.linkedin.com/in/mihaicostin"><i class="fa fa-2x fa-linkedin"></i></a>
    <a class="social-link" target="_blank" href="https://plus.google.com/+MihaiCostin"><i class="fa fa-2x fa-google-plus"></i></a>
</div>

<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-61278169-1");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>